<div class="c1">
  <h2>The Value of Money</h2>
  <div class="imagee">
  <img src="img/money.jpg">
  </div>

  <div class="desc">
  <p>The worth of money, then, is, in general, the amount of goods exchanged for one piece of currency. The value of money is its purchasing power, that is the amount of the goods and services that it can purchase. What money they purchase depends on the price point. If the price level increases, a unit of money will buy fewer items than before.
  </p>

  <p>It is then said that they appreciate capital. So the "common degree of rates" and the value of money from two opposite angles are the same. As rates increase the money value falls, and vice versa. In other words, the amount of money and the total level of prices are inversely proportional. Violent changes in money value are disrupting economic life.
  </p>

  <h6><a href="http://www.economicsdiscussion.net/money/value-of-money-meaning-measurement-and-preparation-of-index-numbers/1863">Source: http://www.economicsdiscussion.net/money/value-of-money-meaning-measurement-and-preparation-of-index-numbers/1863</a></h6>
</div>
</div>

<div class="c1">
  <h2>GMO FOOD</h2>
  <div class="imagee">
  <img src="img/orange.jpg">
  </div>

  <div class="desc">
  <p>Genetically modified organisms (GMOs) are living organisms which have been genetically engineered by genetic manipulation in a laboratory. This produces combinations of genes from plants, animals, bacteria, and viruses which do not occur in nature or through conventional methods of crossbreeding.
  </p>

  <p>Most GMOs were designed to withstand the direct use of herbicide and/or the output of an insecticide. Nevertheless, emerging techniques are now being used to grow certain plant characteristics artificially, such as a resistance to browning in apples, and to generate new species using synthetic biologies.
  </p>

  <h4><a href="https://www.nongmoproject.org/gmo-facts/">Source: https://www.nongmoproject.org/gmo-facts/</a></h4>
</div>
</div>


<div class="c1">
  <h2>The View of World in 2100</h2>
  <div class="imagee">
  <img src="img/world.jpg">
  </div>

  <div class="desc">
  <p>In your contact lens, the Internet should be in. Imagine blinking, and then going online immediately, anywhere or anywhere, accessing your home office or home entertainment device. We would be able to access any video, music, website or piece of information directly from the Internet to our contact lenses that are allowed on the Web. These lenses will also be able to recognise people's expressions, translate their remarks and provide subtitles, so we'll still know exactly who we're talking to and what they're saying in every language.
  </p>

  <p>As cellphones, clocks, watches, and MP3 players will vanish, so will computers. Chips, which cost less than a penny a piece, would be covered in the world by the millions. We'll be able to telepathically order these secret machines, directly through the subconscious. Computers must decode, translate and execute our desires, the electrical signals generated by our brains.
  </p>
  <h4><a href="https://nypost.com/2011/03/20/the-world-in-2100/">Source: https://nypost.com/2011/03/20/the-world-in-2100/</h4>
</div>

</div>