<h2 class="heading1"> PORTFOLIO </h2>

<div class="portfolioData">
  <figure class="p1">
    <img src="img/Portfolio1.jpg" alt="Portfolio 1" />
    <figcaption>Portfolio 1</figcaption>
  </figure>
  <figure class="p2">
    <img src="img/Portfolio2.jpg" alt="Portfolio 2" />
    <figcaption>Portfolio 2</figcaption>
  </figure>
  <figure class="p3">
    <img src="img/Portfolio3.png" alt="Portfolio 3" />
    <figcaption>Portfolio 3</figcaption>
  </figure>
  <figure class="p4">
    <img src="img/Portfolio4.png" alt="Portfolio 4" />
    <figcaption>Portfolio 4</figcaption>
  </figure>
  <figure class="p5">
    <img src="img/Portfolio5.png" alt="Portfolio 5" />
    <figcaption>Portfolio 5</figcaption>
  </figure>
  <figure class="p6">
    <img src="img/Portfolio6.png" alt="Portfolio 6" />
    <figcaption>Portfolio 6</figcaption>
  </figure>
</div>
